<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timing.ukulele.service.syslog.mapper.SysLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="timing.ukulele.service.syslog.persistent.SysLog">
        <id column="id_" property="id"/>
        <result column="type_" property="type"/>
        <result column="title_" property="title"/>
        <result column="service_id" property="serviceId"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="remote_addr" property="remoteAddr"/>
        <result column="user_agent" property="userAgent"/>
        <result column="request_uri" property="requestUri"/>
        <result column="method_" property="method"/>
        <result column="params_" property="params"/>
        <result column="time_" property="time"/>
        <result column="exception_" property="exception"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id_, type_, title_, create_by AS createBy, create_time AS createTime, remote_addr AS remoteAddr, user_agent AS userAgent, request_uri AS requestUri, method_, params_, time_, exception_,service_id as serviceId
    </sql>

</mapper>
