<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="timing.ukulele.service.portal.mapper.SysMenuMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="timing.ukulele.service.portal.persistent.SysMenu">
        <id column="id_" property="id"/>
        <result column="name_" property="name"/>
        <result column="permission_" property="permission"/>
        <result column="url_" property="url"/>
        <result column="path_" property="path"/>
        <result column="method_" property="method"/>
        <result column="parent_id" property="parentId"/>
        <result column="icon_" property="icon"/>
        <result column="component_" property="component"/>
        <result column="sort_" property="sort"/>
        <result column="type_" property="type"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted_" property="deleted"/>
    </resultMap>

    <select id="findMenuByRoleName" resultMap="BaseResultMap">
        SELECT
            sys_menu.*
        FROM
        sys_role
        LEFT JOIN sys_role_menu ON sys_role_menu.role_id = sys_role.id_
        LEFT JOIN sys_menu ON sys_menu.id_ = sys_role_menu.menu_id
        WHERE
        sys_role.deleted_ = 0
        AND sys_menu.deleted_ = 0
        AND sys_role.role_code = #{role}
        ORDER BY sys_menu.sort_ DESC
    </select>

    <delete id="deleteRoleMenu">
        delete from sys_role_menu where role_id=#{roleId}
        <if test="menuId != null">
            and menu_id=#{menuId}
        </if>

    </delete>

    <insert id="addRoleMenu">
        insert into sys_role_menu(role_id,menu_id) values(#{roleId},#{menuId})
    </insert>

    <select id="getMenuByUserId" resultMap="BaseResultMap">
        select m.* from sys_menu m
        left join sys_role_menu rm on m.id_=rm.menu_id
        left join sys_role r on r.id_=rm.role_id
        left join sys_user_role ur on r.id_=ur.role_id where ur.user_id=#{userId} and m.deleted_=0 and r.deleted_=0;
    </select>
</mapper>
